VITE_API_URL=https://autisense.deployio.tech/api
VITE_BACKEND_URL=https://autisense.deployio.tech
VITE_ML_URL=https://autisense-ml.deployio.tech
VITE_RAG_URL=https://autisense-rag.deployio.tech
VITE_EMOTION_URL=https://autisense-emotion.deployio.tech